@model IEnumerable<WTVersus.Models.Tank>;
@{string title = @Model.ElementAt(0).Name + " vs " + @Model.ElementAt(1).Name;}
@{ ViewData["Title"] = title;}

<div class="container-fluid">
    @if (Model.ElementAt(0).Name != "Select vehicle" & Model.ElementAt(1).Name != "Select vehicle")
    {
        <h1>@title</h1>
    }
    else
    {
        <h1>Tanks comparison</h1>
    }
    <table class="table table-hover table-bordered table-sm text-center sticky-row">
        <tbody>
            <tr>
                <th style="width: 20%"></th>
                <td style="width: 15%">
                    <div class="dropdown @Model.ElementAt(0).Type">
                        <button class="btn dropdown-toggle text-wrap font10pt" type="button" data-toggle="dropdown">
                            @{string img0name = Model.ElementAt(0).Nation + ".png";}
                            <img src="~/images/@img0name" class="img-fluid" width="25" alt="Tank">
                            [@String.Format("{0:F1}", Model.ElementAt(0).BR)]
                            @Model.ElementAt(0).Name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-height-fix">
                            <input class="form-control" id="myInput1" type="text" placeholder="Search..">
                            @foreach (Tank item in ViewBag.AllTanksSelected as IEnumerable<Tank>)
                            {
                                <li>
                                    <a class="dropdown-item @item.Type" asp-controller="Tanks" asp-action="Compare"
                                       asp-route-vehicle1="@item.VehicleId">
                                        @{string img0item = item.Nation + ".png";}
                                        <img src="~/images/@img0item" class="img-fluid" width="25" alt="Tank">
                                        [@String.Format("{0:F1}", item.BR)] @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
                <td style="width: 15%">
                    <div class="dropdown @Model.ElementAt(1).Type">
                        <button class="btn dropdown-toggle  text-wrap font10pt" type="button" data-toggle="dropdown">
                            @{string img1name = Model.ElementAt(1).Nation + ".png";}
                            <img src="~/images/@img1name" class="img-fluid" width="25" alt="Tank">
                            [@String.Format("{0:F1}", Model.ElementAt(1).BR)]
                            @Model.ElementAt(1).Name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-height-fix">
                            <input class="form-control" id="myInput2" type="text" placeholder="Search..">
                            @foreach (Tank item in ViewBag.AllTanksSelected as IEnumerable<Tank>)
                            {
                                <li>
                                    <a class="dropdown-item @item.Type" asp-controller="Tanks" asp-action="Compare"
                                       asp-route-vehicle2="@item.VehicleId">
                                        @{string img1item = item.Nation + ".png";}
                                        <img src="~/images/@img1item" class="img-fluid" width="25" alt="Tank">
                                        [@String.Format("{0:F1}", item.BR)] @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
                <td style="width: 15%">
                    <div class="dropdown @Model.ElementAt(2).Type">
                        <button class="btn dropdown-toggle  text-wrap font10pt" type="button" data-toggle="dropdown">
                            @{string img2name = Model.ElementAt(2).Nation + ".png";}
                            <img src="~/images/@img2name" class="img-fluid" width="25" alt="Tank">
                            [@String.Format("{0:F1}", Model.ElementAt(2).BR)]
                            @Model.ElementAt(2).Name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-height-fix">
                            <input class="form-control" id="myInput3" type="text" placeholder="Search..">
                            @foreach (Tank item in ViewBag.AllTanksSelected as IEnumerable<Tank>)
                            {
                                <li>
                                    <a class="dropdown-item @item.Type" asp-controller="Tanks" asp-action="Compare"
                                       asp-route-vehicle3="@item.VehicleId">
                                        @{string img2item = item.Nation + ".png";}
                                        <img src="~/images/@img2item" class="img-fluid" width="25" alt="Tank">
                                        [@String.Format("{0:F1}", item.BR)] @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
                <td style="width: 15%">
                    <div class="dropdown @Model.ElementAt(3).Type">
                        <button class="btn dropdown-toggle  text-wrap font10pt" type="button" data-toggle="dropdown">
                            @{string img3name = Model.ElementAt(3).Nation + ".png";}
                            <img src="~/images/@img3name" class="img-fluid" width="25" alt="Tank">
                            [@String.Format("{0:F1}", Model.ElementAt(3).BR)]
                            @Model.ElementAt(3).Name
                            <span class="caret"></span>
                        </button>
                        <ul class="dropdown-menu dropdown-height-fix">
                            <input class="form-control" id="myInput4" type="text" placeholder="Search..">
                            @foreach (Tank item in ViewBag.AllTanksSelected as IEnumerable<Tank>)
                            {
                                <li>
                                    <a class="dropdown-item @item.Type" asp-controller="Tanks" asp-action="Compare"
                                       asp-route-vehicle4="@item.VehicleId">
                                        @{string img3item = item.Nation + ".png";}
                                        <img src="~/images/@img3item" class="img-fluid" width="25" alt="Tank">
                                        [@String.Format("{0:F1}", item.BR)] @item.Name
                                    </a>
                                </li>
                            }
                        </ul>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover table-bordered table-sm text-center">
        <tbody>
            <tr>
                <th style="width: 20%"></th>
                <td style="width: 15%"><img class="img-fluid @Model.ElementAt(0).Class" src="@Model.ElementAt(0).Image" alt="Tank" /></td>
                <td style="width: 15%"><img class="img-fluid  @Model.ElementAt(1).Class" src="@Model.ElementAt(1).Image" alt="Tank" /></td>
                <td style="width: 15%"><img class="img-fluid  @Model.ElementAt(2).Class" src="@Model.ElementAt(2).Image" alt="Tank" /></td>
                <td style="width: 15%"><img class="img-fluid  @Model.ElementAt(3).Class" src="@Model.ElementAt(3).Image" alt="Tank" /></td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="The year when the vehicle ride the first time">First ride</th>
                <td style="width: 15%">@Model.ElementAt(0).FirstRideYear</td>
                <td style="width: 15%">@Model.ElementAt(1).FirstRideYear</td>
                <td style="width: 15%">@Model.ElementAt(2).FirstRideYear</td>
                <td style="width: 15%">@Model.ElementAt(3).FirstRideYear</td>
            </tr>
            <tr class="low">
                <th style="width: 20%" title="The maximum repair cost of the spaded vehicle">Repair cost</th>
                <td style="width: 15%">@Model.ElementAt(0).RepairCost s.l.</td>
                <td style="width: 15%">@Model.ElementAt(1).RepairCost s.l.</td>
                <td style="width: 15%">@Model.ElementAt(2).RepairCost s.l.</td>
                <td style="width: 15%">@Model.ElementAt(3).RepairCost s.l.</td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="Vehicle user review">Review (Dev)</th>
                <td style="width: 15%">N/A</td>
                <td style="width: 15%">N/A</td>
                <td style="width: 15%">N/A</td>
                <td style="width: 15%">N/A</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover table-bordered table-sm text-center">
        <tbody>
            <tr class="red-table-label no-hover">
                <td style="width: 100%" colspan="5">Weapon specifications</td>
            </tr>
            <tr>
                <th style="width: 20%" title="Description of cannon">Cannon</th>
                <td style="width: 15%">@Html.Raw(Model.ElementAt(0).Cannon)</td>
                <td style="width: 15%">@Html.Raw(Model.ElementAt(1).Cannon)</td>
                <td style="width: 15%">@Html.Raw(Model.ElementAt(2).Cannon)</td>
                <td style="width: 15%">@Html.Raw(Model.ElementAt(3).Cannon)</td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="Armor penetration shows for a round maximum armor-piercing ability. For 6 and 7 tier, priority APFSDS shell">Armor penetration</th>
                <td style="width: 15%">@Model.ElementAt(0).Penetration mm</td>
                <td style="width: 15%">@Model.ElementAt(1).Penetration mm</td>
                <td style="width: 15%">@Model.ElementAt(2).Penetration mm</td>
                <td style="width: 15%">@Model.ElementAt(3).Penetration mm</td>
            </tr>
            <tr>
                <th style="width: 20%" class="align-middle" title="Available shell type">Shell type</th>
                @for (int i = 0; i < 4; i++)
                {
                    <td style="width: 15%">
                        @{
                            if (Model.ElementAt(i).ShellAP)
                            {
                                <img src="~/images/ShellAP.png" alt="Armour-Piercing and othet variations like a APC, APCBC, APBC" title="Armour-Piercing and othet variations like a APC, APCBC, APBC" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellAPHE)
                            {
                                <img src="~/images/ShellAPHE.png" alt="Armour-Piercing High-Explosive and othet variations like a APHEC, APHECBC, APHEBC" class="img-fluid img-horizontal-align" title="Armour-Piercing High-Explosive and othet variations like a APHEC, APHECBC, APHEBC" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellHE)
                            {
                                <img src="~/images/ShellHE.png" alt="High-Explosive" title="High-Explosive" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellAPCR)
                            {
                                <img src="~/images/ShellAPCR.png" alt="Armour-Piercing Composite Rigid" title="Armour-Piercing Composite Rigid" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellAPDS)
                            {
                                <img src="~/images/ShellAPDS.png" alt="Armour-Piercing Discarding Sabot" title="Armour-Piercing Discarding Sabot" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellAPFSDS)
                            {
                                <img src="~/images/ShellAPFSDS.png" alt="Armour-Piercing Fin-Stabilized Discarding Sabot" title="Armour-Piercing Fin-Stabilized Discarding Sabot" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellHEAT)
                            {
                                <img src="~/images/ShellHEAT.png" alt="High-Explosive Anti-Tank" title="High-Explosive Anti-Tank" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellHEATFS)
                            {
                                <img src="~/images/ShellHEATFS.png" alt="High-Explosive Anti-Tank Fin-Stabilised" title="High-Explosive Anti-Tank Fin-Stabilised" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellShrapnel)
                            {
                                <img src="~/images/ShellShrapnel.png" alt="Rare Shrapnel shell" title="Rare Shrapnel shell" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellHESH)
                            {
                                <img src="~/images/ShellHESH.png" alt="High Explosive Squash Head" title="High Explosive Squash Head" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellATGM)
                            {
                                <img src="~/images/ShellATGM.png" alt="Anti-tank guided missile" title="Anti-tank guided missile" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellATGMHE)
                            {
                                <img src="~/images/ShellATGMHE.png" alt="Anti-tank guided missile" title="Anti-tank guided missile" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellATGMHEVT)
                            {
                                <img src="~/images/ShellATGMHEVT.png" alt="Anti-tank guided missile" title="Anti-tank guided missile" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellATGMTandem)
                            {
                                <img src="~/images/ShellATGMTandem.png" alt="Anti-tank guided missile" title="Anti-tank guided missile" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellVOG)
                            {
                                <img src="~/images/ShellVOG.png" alt="Anti-tank guided missile" title="Shot grenade launcher" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellSSM)
                            {
                                <img src="~/images/ShellSSM.png" alt="Unguided missiles" title="Unguided missiles" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellHEATGRENADE)
                            {
                                <img src="~/images/ShellHEATGRENADE.png" alt="Anti-tank grenade with a HE or HEAT warhead" title="Anti-tank grenade with a HE or HEAT warhead" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellHEVT)
                            {
                                <img src="~/images/ShellHEVT.png" alt="High-Explosive variable time fuze shell (self-destroying)" title="High-Explosive variable time fuze shell (self-destroying)" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellSAM)
                            {
                                <img src="~/images/ShellSAM.png" alt="Surface-to-air missile" title="Surface-to-air missile" class="img-fluid img-horizontal-align">
                            }
                            if (Model.ElementAt(i).ShellSmoke)
                            {
                                <img src="~/images/ShellSmoke.png" alt="Smoke shell" title="Smoke shell" class="img-fluid img-horizontal-align">
                            }
                        }
                    </td>
                }
            </tr>
            <tr class="high">
                <th style="width: 20%" title="Muzzle velocity shows for the round with maximum armor-piercing ability">Muzzle velocity</th>
                <td style="width: 15%">@Model.ElementAt(0).ShellSpeed m/s</td>
                <td style="width: 15%">@Model.ElementAt(1).ShellSpeed m/s</td>
                <td style="width: 15%">@Model.ElementAt(2).ShellSpeed m/s</td>
                <td style="width: 15%">@Model.ElementAt(3).ShellSpeed m/s</td>
            </tr>
            <tr class="low">
                <th style="width: 20%" title="Reload time tested with aces crew and spaded vehicle">Reload time</th>
                <td style="width: 15%">@Model.ElementAt(0).ReloadTime s</td>
                <td style="width: 15%">@Model.ElementAt(1).ReloadTime s</td>
                <td style="width: 15%">@Model.ElementAt(2).ReloadTime s</td>
                <td style="width: 15%">@Model.ElementAt(3).ReloadTime s</td>
            </tr>
            <tr class="low">
                <th style="width: 20%" title="How far can aim down the cannon">Gun depression</th>
                <td style="width: 15%">@Model.ElementAt(0).DownAimAngle°</td>
                <td style="width: 15%">@Model.ElementAt(1).DownAimAngle°</td>
                <td style="width: 15%">@Model.ElementAt(2).DownAimAngle°</td>
                <td style="width: 15%">@Model.ElementAt(3).DownAimAngle°</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover table-bordered table-sm text-center">
        <tbody>
            <tr class="red-table-label no-hover">
                <td style="width: 100%" colspan="5">Armor specifications</td>
            </tr>

            <tr class="hideifempty">
                <th style="width: 20%" title="Description of various ground vehicle systems">Safety systems</th>
                @for (int i = 0; i < 4; i++)
                {
                    <td style="width: 15%">
                        @{
                            if (Model.ElementAt(i).NVDCommander)
                            {
                                <img src="~/images/NVDCommander.png" alt="Commander infrared night vision devices" title="Commander infrared night vision devices" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).ThermalCommander)
                            {
                                <img src="~/images/ThermalCommander.png" alt="Commander thermal night vision devices" title="Commander thermal night vision devices" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).NVDGunner)
                            {
                                <img src="~/images/NVDGunner.png" alt="Gunner infrared night vision devices" title="Gunner infrared night vision devices" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).ThermalGunner)
                            {
                                <img src="~/images/ThermalGunner.png" alt="Gunner thermal night vision devices" title="Gunner thermal night vision devices" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).IRSpotlight)
                            {
                                <img src="~/images/IRSpotlight.png" alt="Infrared Spotlight" title="Infrared Spotlight" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).ExhaustSmoke)
                            {
                                <img src="~/images/ExhaustSmoke.png" alt="Exhaust smoke system" title="Exhaust smoke system" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).GrenadeSmoke)
                            {
                                <img src="~/images/GrenadeSmoke.png" alt="Smoke grenade" title="Smoke grenade" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).AddOnArmor)
                            {
                                <img src="~/images/AddOnArmor.png" alt="Additional armor like track, side screens and others" title="Additional armor like track, side screens and others" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).ReactiveArmor)
                            {
                                <img src="~/images/ReactiveArmor.png" alt="Explosive reactive armour" title="Explosive reactive armour" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).AutoLoader)
                            {
                                <img src="~/images/AutoLoader.png" alt="Just auto loader" title="Just auto loader" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).Stabilizer)
                            {
                                <img src="~/images/Stabilizer.png" alt="Gun stabilizer" title="Gun stabilizer" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).AAMachineGun)
                            {
                                <img src="~/images/AAMachineGun.png" alt="Anti aircraft machine gun" title="Anti aircraft machine gun" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).HullBreak)
                            {
                                <img src="~/images/HullBreak.png" alt="Vehicles with hull break mechanics" title="Vehicles with hull break mechanics" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).Hydropneumatic)
                            {
                                <img src="~/images/Hydropneumatic.png" alt="Hydropneumatic suspension" title="Hydropneumatic suspension" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).Amphibious)
                            {
                                <img src="~/images/Amphibious.png" alt="Amphibious" title="Amphibious" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).AirSearchRadar)
                            {
                                <img src="~/images/GroundToAirRadar.png" alt="Air search Radar" title="Air search Radar" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).AirLockRadar)
                            {
                                <img src="~/images/LockAir.png" alt="Tracking radar" title="Tracking radar" class="img-fluid" width="40">
                            }
                            if (Model.ElementAt(i).TankSearchRadar)
                            {
                                <img src="~/images/GroundToTankRadar.png" alt="Ground vehicle search radar" title="Ground vehicle search radar" class="img-fluid" width="40">
                            }
                        }
                    </td>
                }
            </tr>

            <tr class="high">
                <th style="width: 20%" title="Armour thickness for turret. The minimum value of the rational armour thickness for just only frontal projection excluding especially vulnerable zones, like machine-gun ports, driver's hatch and others.">Armour thickness for frontal armor of turret</th>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(0).ReducedArmorFrontTurret mm</td>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(1).ReducedArmorFrontTurret mm</td>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(2).ReducedArmorFrontTurret mm</td>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(3).ReducedArmorFrontTurret mm</td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="Armour thickness for frontal armor upper hull plate. The minimum value of the rational armour thickness for just only frontal projection excluding especially vulnerable zones, like machine-gun ports, driver's hatch and others.">Armour thickness for frontal armor upper hull plate</th>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(0).ReducedArmorTopSheet mm</td>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(1).ReducedArmorTopSheet mm</td>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(2).ReducedArmorTopSheet mm</td>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(3).ReducedArmorTopSheet mm</td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="Armour thickness for frontal armor lower hull plate. The minimum value of the rational armour thickness for just only frontal projection excluding especially vulnerable zones, like machine-gun ports, driver's hatch and others.">Armour thickness for frontal armor lower hull plate</th>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(0).ReducedArmorBottomSheet mm</td>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(1).ReducedArmorBottomSheet mm</td>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(2).ReducedArmorBottomSheet mm</td>
                <td style="width: 15%" class="align-middle">@Model.ElementAt(3).ReducedArmorBottomSheet mm</td>
            </tr>
        </tbody>
    </table>

    <table class="table table-hover table-bordered table-sm text-center">
        <tbody>
            <tr class="red-table-label no-hover">
                <td style="width: 100%" colspan="5">Riding specifications</td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="Maximum speed on highway - tested on Fulda map">Max speed on highway</th>
                <td style="width: 15%">@Model.ElementAt(0).MaxSpeedAtRoad km/h</td>
                <td style="width: 15%">@Model.ElementAt(1).MaxSpeedAtRoad km/h</td>
                <td style="width: 15%">@Model.ElementAt(2).MaxSpeedAtRoad km/h</td>
                <td style="width: 15%">@Model.ElementAt(3).MaxSpeedAtRoad km/h</td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="Maximum speed on cross-country - tested on Kursk map">Max speed on cross-country</th>
                <td style="width: 15%">@Model.ElementAt(0).MaxSpeedAtTerrain km/h</td>
                <td style="width: 15%">@Model.ElementAt(1).MaxSpeedAtTerrain km/h</td>
                <td style="width: 15%">@Model.ElementAt(2).MaxSpeedAtTerrain km/h</td>
                <td style="width: 15%">@Model.ElementAt(3).MaxSpeedAtTerrain km/h</td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="Reverse speed on cross-country - tested on Kursk map">Reverse speed</th>
                <td style="width: 15%">@Model.ElementAt(0).MaxReverseSpeed km/h</td>
                <td style="width: 15%">@Model.ElementAt(1).MaxReverseSpeed km/h</td>
                <td style="width: 15%">@Model.ElementAt(2).MaxReverseSpeed km/h</td>
                <td style="width: 15%">@Model.ElementAt(3).MaxReverseSpeed km/h</td>
            </tr>
            <tr class="low">
                <th style="width: 20%" title="100 metres ride - dash for the specific distance">100 meters acceleration</th>
                <td style="width: 15%">@Model.ElementAt(0).AccelerationTo100 s</td>
                <td style="width: 15%">@Model.ElementAt(1).AccelerationTo100 s</td>
                <td style="width: 15%">@Model.ElementAt(2).AccelerationTo100 s</td>
                <td style="width: 15%">@Model.ElementAt(3).AccelerationTo100 s</td>
            </tr>
            <tr class="low">
                <th style="width: 20%" title="Turret turnaround - time of turn on 360 degrees">Turret turnaround</th>
                <td style="width: 15%">@Model.ElementAt(0).TurnTurretTime s</td>
                <td style="width: 15%">@Model.ElementAt(1).TurnTurretTime s</td>
                <td style="width: 15%">@Model.ElementAt(2).TurnTurretTime s</td>
                <td style="width: 15%">@Model.ElementAt(3).TurnTurretTime s</td>
            </tr>
            <tr class="low">
                <th style="width: 20%" title="Hull turnaround - time of turn on 360 degrees">Hull turnaround</th>
                <td style="width: 15%">@Model.ElementAt(0).TurnHullTime s</td>
                <td style="width: 15%">@Model.ElementAt(1).TurnHullTime s</td>
                <td style="width: 15%">@Model.ElementAt(2).TurnHullTime s</td>
                <td style="width: 15%">@Model.ElementAt(3).TurnHullTime s</td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="The maximum possible engine power of the spaded vehicle.">Engine power</th>
                <td style="width: 15%">@Model.ElementAt(0).EnginePower h.p</td>
                <td style="width: 15%">@Model.ElementAt(1).EnginePower h.p</td>
                <td style="width: 15%">@Model.ElementAt(2).EnginePower h.p</td>
                <td style="width: 15%">@Model.ElementAt(3).EnginePower h.p</td>
            </tr>
            <tr class="low">
                <th style="width: 20%" title="Weight for equipped vehicle">Weight</th>
                <td style="width: 15%">@Model.ElementAt(0).Weight t</td>
                <td style="width: 15%">@Model.ElementAt(1).Weight t</td>
                <td style="width: 15%">@Model.ElementAt(2).Weight t</td>
                <td style="width: 15%">@Model.ElementAt(3).Weight t</td>
            </tr>
            <tr class="high">
                <th style="width: 20%" title="Engine power divided to weight">Power to weight ratio</th>
                @{if (Model.ElementAt(0).EnginePower.HasValue)
                    {
                        double PTW1 = Math.Round((double)Model.ElementAt(0).EnginePower.Value / (double)Model.ElementAt(0).Weight.Value, 1);
                        <td style="width: 15%">@PTW1 h.p/t</td>
                    }
                    else
                    {
                        <td style="width: 15%"></td>
                    }}
                @{if (Model.ElementAt(1).EnginePower.HasValue)
                    {
                        double PTW2 = Math.Round((double)Model.ElementAt(1).EnginePower.Value / (double)Model.ElementAt(1).Weight.Value, 1);
                                <td style="width: 15%">@PTW2 h.p/t</td>
                    }
                    else
                    {
                        <td style="width: 15%"></td>
                    }}
                @{if (Model.ElementAt(2).EnginePower.HasValue)
                    {
                        double PTW3 = Math.Round((double)Model.ElementAt(2).EnginePower.Value / (double)Model.ElementAt(2).Weight.Value, 1);
                                <td style="width: 15%">@PTW3 h.p/t</td>
                    }
                    else
                    {
                        <td style="width: 15%"></td>
                    }}
                @{if (Model.ElementAt(3).EnginePower.HasValue)
                    {
                        double PTW4 = Math.Round((double)Model.ElementAt(3).EnginePower.Value / (double)Model.ElementAt(3).Weight.Value, 1);
                                <td style="width: 15%">@PTW4 h.p/t</td>
                    }
                    else
                    {
                        <td style="width: 15%"></td>
                    }}
            </tr>

        </tbody>
    </table>




</div>

