@model WTVersus.Models.Plane

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Plane</h4>
<hr />
<div class="row">
    <div class="col-md-12">
        <form asp-action="Create">
            <div class="row">
                <div class="col-md-4">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="VehicleId" class="control-label"></label>
                        <input asp-for="VehicleId" class="form-control" />
                        <span asp-validation-for="VehicleId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Image" class="control-label"></label>
                        <input asp-for="Image" class="form-control" />
                        <span asp-validation-for="Image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Name" class="control-label"></label>
                        <input asp-for="Name" class="form-control" />
                        <span asp-validation-for="Name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Nation" class="control-label"></label>
                        <input asp-for="Nation" class="form-control" />
                        <span asp-validation-for="Nation" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Rank" class="control-label"></label>
                        <input asp-for="Rank" class="form-control" />
                        <span asp-validation-for="Rank" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BR" class="control-label"></label>
                        <input asp-for="BR" class="form-control" />
                        <span asp-validation-for="BR" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Type" class="control-label"></label>
                        <input asp-for="Type" class="form-control" />
                        <span asp-validation-for="Type" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Class" class="control-label"></label>
                        <input asp-for="Class" class="form-control" />
                        <span asp-validation-for="Class" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="FirstFlyYear" class="control-label"></label>
                        <input asp-for="FirstFlyYear" class="form-control" />
                        <span asp-validation-for="FirstFlyYear" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="RepairCost" class="control-label"></label>
                        <input asp-for="RepairCost" class="form-control" />
                        <span asp-validation-for="RepairCost" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="ViewCount" class="control-label"></label>
                        <input asp-for="ViewCount" class="form-control" />
                        <span asp-validation-for="ViewCount" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WikiLink" class="control-label"></label>
                        <input asp-for="WikiLink" class="form-control" />
                        <span asp-validation-for="WikiLink" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="WikiDescription" class="control-label"></label>
                        <input asp-for="WikiDescription" class="form-control" />
                        <span asp-validation-for="WikiDescription" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group">
                        <label asp-for="MaxSpeedAt0" class="control-label"></label>
                        <input asp-for="MaxSpeedAt0" class="form-control" />
                        <span asp-validation-for="MaxSpeedAt0" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="MaxSpeedAt5000" class="control-label"></label>
                        <input asp-for="MaxSpeedAt5000" class="form-control" />
                        <span asp-validation-for="MaxSpeedAt5000" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Climb" class="control-label"></label>
                        <input asp-for="Climb" class="form-control" />
                        <span asp-validation-for="Climb" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BombLoad" class="control-label"></label>
                        <input asp-for="BombLoad" class="form-control" />
                        <span asp-validation-for="BombLoad" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="TurnAt0" class="control-label"></label>
                        <input asp-for="TurnAt0" class="form-control" />
                        <span asp-validation-for="TurnAt0" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="EnginePower" class="control-label"></label>
                        <input asp-for="EnginePower" class="form-control" />
                        <span asp-validation-for="EnginePower" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Weight" class="control-label"></label>
                        <input asp-for="Weight" class="form-control" />
                        <span asp-validation-for="Weight" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Flutter" class="control-label"></label>
                        <input asp-for="Flutter" class="form-control" />
                        <span asp-validation-for="Flutter" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="BurstMass" class="control-label"></label>
                        <input asp-for="BurstMass" class="form-control" />
                        <span asp-validation-for="BurstMass" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="CourseWeapon" class="control-label"></label>
                        <input asp-for="CourseWeapon" class="form-control" />
                        <span asp-validation-for="CourseWeapon" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OptimalAilerons" class="control-label"></label>
                        <input asp-for="OptimalAilerons" class="form-control" />
                        <span asp-validation-for="OptimalAilerons" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OptimalElevator" class="control-label"></label>
                        <input asp-for="OptimalElevator" class="form-control" />
                        <span asp-validation-for="OptimalElevator" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="OptimalAlitude" class="control-label"></label>
                        <input asp-for="OptimalAlitude" class="form-control" />
                        <span asp-validation-for="OptimalAlitude" class="text-danger"></span>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="ASMissile" /> @Html.DisplayNameFor(model => model.ASMissile)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AAMissile" /> @Html.DisplayNameFor(model => model.AAMissile)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AAFoxOneMissile" /> @Html.DisplayNameFor(model => model.AAFoxOneMissile)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AGMissile" /> @Html.DisplayNameFor(model => model.AGMissile)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="HCannon" /> @Html.DisplayNameFor(model => model.HCannon)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="HBomb" /> @Html.DisplayNameFor(model => model.HBomb)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="HTorpedo" /> @Html.DisplayNameFor(model => model.HTorpedo)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="HMine" /> @Html.DisplayNameFor(model => model.HMine)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="WrongMusic" /> @Html.DisplayNameFor(model => model.WrongMusic)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Turrel" /> @Html.DisplayNameFor(model => model.Turrel)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="RWR" /> @Html.DisplayNameFor(model => model.RWR)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Flares" /> @Html.DisplayNameFor(model => model.Flares)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AirBrake" /> @Html.DisplayNameFor(model => model.AirBrake)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Parachute" /> @Html.DisplayNameFor(model => model.Parachute)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="Tailhook" /> @Html.DisplayNameFor(model => model.Tailhook)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="AirRadar" /> @Html.DisplayNameFor(model => model.AirRadar)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="GroundRadar" /> @Html.DisplayNameFor(model => model.GroundRadar)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CCIP" /> @Html.DisplayNameFor(model => model.CCIP)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="GSuit" /> @Html.DisplayNameFor(model => model.GSuit)
                        </label>
                    </div>
                    <div class="form-group form-check">
                        <label class="form-check-label">
                            <input class="form-check-input" asp-for="CCRP" /> @Html.DisplayNameFor(model => model.CCRP)
                        </label>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Create" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

