@model IEnumerable<WTVersus.Models.Plane>;
@{
    ViewData["Title"] = "Aircrafts compare";
}

<div class="container">
    <table id="PlaneTable" class="table table-hover table-bordered table-sm text-center">
        <tr>
            <td style="width: 20%"></td>
            <td style="width: 15%">

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        [@String.Format("{0:F1}", Model.ElementAt(0).BR)] @Model.ElementAt(0).Name
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <input class="form-control" id="myInput1" type="text" placeholder="Search..">
                        @foreach (Plane item in ViewBag.AllPlanesSelected as IEnumerable<Plane>)
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Aircrafts" asp-action="Compare"
                                   asp-route-vehicle1="@item.VehicleId">[@String.Format("{0:F1}", item.BR)] @item.Name</a>
                            </li>
                        }
                    </ul>
                </div>

            </td>
            <td style="width: 15%">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        [@String.Format("{0:F1}", Model.ElementAt(1).BR)] @Model.ElementAt(1).Name
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <input class="form-control" id="myInput2" type="text" placeholder="Search..">
                        @foreach (Plane item in ViewBag.AllPlanesSelected as IEnumerable<Plane>)
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Aircrafts" asp-action="Compare"
                                   asp-route-vehicle2="@item.VehicleId">[@String.Format("{0:F1}", item.BR)] @item.Name</a>
                            </li>
                        }
                    </ul>
                </div>
            </td>
            <td style="width: 15%">

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        [@String.Format("{0:F1}", Model.ElementAt(2).BR)] @Model.ElementAt(2).Name
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <input class="form-control" id="myInput3" type="text" placeholder="Search..">
                        @foreach (Plane item in ViewBag.AllPlanesSelected as IEnumerable<Plane>)
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Aircrafts" asp-action="Compare"
                                   asp-route-vehicle3="@item.VehicleId">[@String.Format("{0:F1}", item.BR)] @item.Name</a>
                            </li>
                        }
                    </ul>
                </div>

            </td>
            <td style="width: 15%">

                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" data-toggle="dropdown">
                        [@String.Format("{0:F1}", Model.ElementAt(3).BR)] @Model.ElementAt(3).Name
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu">
                        <input class="form-control" id="myInput4" type="text" placeholder="Search..">
                        @foreach (Plane item in ViewBag.AllPlanesSelected as IEnumerable<Plane>)
                        {
                            <li>
                                <a class="dropdown-item" asp-controller="Aircrafts" asp-action="Compare"
                                   asp-route-vehicle4="@item.VehicleId">[@String.Format("{0:F1}", item.BR)] @item.Name</a>
                            </li>
                        }
                    </ul>
                </div>

            </td>
        </tr>

        <tr>
            <td style="width: 20%"></td>
            <td style="width: 15%">
                <table class="table-borderless" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td width="50%">
                            @{switch (Model.ElementAt(0).Nation)
                                {
                                    case "USA":
                                        <img src="~/images/USA.png" class="img-fluid" width="30">
                                        break;
                                    case "Germany":
                                        <img src="~/images/Germany.png" class="img-fluid" width="30">
                                        break;
                                    case "USSR":
                                        <img src="~/images/USSR.png" class="img-fluid" width="30">
                                        break;
                                    case "Britain":
                                        <img src="~/images/Britain.png" class="img-fluid" width="30">
                                        break;
                                    case "Japan":
                                        <img src="~/images/Japan.png" class="img-fluid" width="30">
                                        break;
                                    case "Italy":
                                        <img src="~/images/Italy.png" class="img-fluid" width="30">
                                        break;
                                    case "France":
                                        <img src="~/images/France.png" class="img-fluid" width="30">
                                        break;
                                    case "China":
                                        <img src="~/images/China.png" class="img-fluid" width="30">
                                        break;
                                    case "Sweden":
                                        <img src="~/images/Sweden.png" class="img-fluid" width="30">
                                        break;
                                }
                            }
                        </td>
                        <td width="50%">@Model.ElementAt(0).Rank</td>
                    </tr>
                </table>
            </td>
            <td style="width: 15%">
                <table class="table-borderless" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td width="50%">
                            @{switch (Model.ElementAt(1).Nation)
                                {
                                    case "USA":
                                        <img src="~/images/USA.png" class="img-fluid" width="30">
                                        break;
                                    case "Germany":
                                        <img src="~/images/Germany.png" class="img-fluid" width="30">
                                        break;
                                    case "USSR":
                                        <img src="~/images/USSR.png" class="img-fluid" width="30">
                                        break;
                                    case "Britain":
                                        <img src="~/images/Britain.png" class="img-fluid" width="30">
                                        break;
                                    case "Japan":
                                        <img src="~/images/Japan.png" class="img-fluid" width="30">
                                        break;
                                    case "Italy":
                                        <img src="~/images/Italy.png" class="img-fluid" width="30">
                                        break;
                                    case "France":
                                        <img src="~/images/France.png" class="img-fluid" width="30">
                                        break;
                                    case "China":
                                        <img src="~/images/China.png" class="img-fluid" width="30">
                                        break;
                                    case "Sweden":
                                        <img src="~/images/Sweden.png" class="img-fluid" width="30">
                                        break;
                                }
                            }
                        </td>
                        <td width="50%">@Model.ElementAt(1).Rank</td>
                    </tr>
                </table>
            </td>
            <td style="width: 15%">
                <table class="table-borderless" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td width="50%">
                            @{switch (Model.ElementAt(2).Nation)
                                {
                                    case "USA":
                                        <img src="~/images/USA.png" class="img-fluid" width="30">
                                        break;
                                    case "Germany":
                                        <img src="~/images/Germany.png" class="img-fluid" width="30">
                                        break;
                                    case "USSR":
                                        <img src="~/images/USSR.png" class="img-fluid" width="30">
                                        break;
                                    case "Britain":
                                        <img src="~/images/Britain.png" class="img-fluid" width="30">
                                        break;
                                    case "Japan":
                                        <img src="~/images/Japan.png" class="img-fluid" width="30">
                                        break;
                                    case "Italy":
                                        <img src="~/images/Italy.png" class="img-fluid" width="30">
                                        break;
                                    case "France":
                                        <img src="~/images/France.png" class="img-fluid" width="30">
                                        break;
                                    case "China":
                                        <img src="~/images/China.png" class="img-fluid" width="30">
                                        break;
                                    case "Sweden":
                                        <img src="~/images/Sweden.png" class="img-fluid" width="30">
                                        break;
                                }
                            }
                        </td>
                        <td width="50%">@Model.ElementAt(2).Rank</td>
                    </tr>
                </table>
            </td>
            <td style="width: 15%">
                <table class="table-borderless" cellspacing="0" cellpadding="0" border="0" width="100%">
                    <tr>
                        <td width="50%">
                            @{switch (Model.ElementAt(3).Nation)
                                {
                                    case "USA":
                                        <img src="~/images/USA.png" class="img-fluid" width="30">
                                        break;
                                    case "Germany":
                                        <img src="~/images/Germany.png" class="img-fluid" width="30">
                                        break;
                                    case "USSR":
                                        <img src="~/images/USSR.png" class="img-fluid" width="30">
                                        break;
                                    case "Britain":
                                        <img src="~/images/Britain.png" class="img-fluid" width="30">
                                        break;
                                    case "Japan":
                                        <img src="~/images/Japan.png" class="img-fluid" width="30">
                                        break;
                                    case "Italy":
                                        <img src="~/images/Italy.png" class="img-fluid" width="30">
                                        break;
                                    case "France":
                                        <img src="~/images/France.png" class="img-fluid" width="30">
                                        break;
                                    case "China":
                                        <img src="~/images/China.png" class="img-fluid" width="30">
                                        break;
                                    case "Sweden":
                                        <img src="~/images/Sweden.png" class="img-fluid" width="30">
                                        break;
                                }
                            }
                        </td>
                        <td width="50%">@Model.ElementAt(3).Rank</td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr>
            <td style="width: 20%"></td>
            <td style="width: 15%"><img class="img-fluid" src="@Model.ElementAt(0).Image" alt="Plane" /></td>
            <td style="width: 15%"><img class="img-fluid" src="@Model.ElementAt(1).Image" alt="Plane" /></td>
            <td style="width: 15%"><img class="img-fluid" src="@Model.ElementAt(2).Image" alt="Plane" /></td>
            <td style="width: 15%"><img class="img-fluid" src="@Model.ElementAt(3).Image" alt="Plane" /></td>
        </tr>
        <tr>
            <td style="width: 20%">First flight</td>
            <td style="width: 15%">@Model.ElementAt(0).FirstFlyYear</td>
            <td style="width: 15%">@Model.ElementAt(1).FirstFlyYear</td>
            <td style="width: 15%">@Model.ElementAt(2).FirstFlyYear</td>
            <td style="width: 15%">@Model.ElementAt(3).FirstFlyYear</td>
        </tr>
        <tr>
            <td style="width: 20%">Repair cost</td>
            <td style="width: 15%">@Model.ElementAt(0).RepairCost s.l.</td>
            <td style="width: 15%">@Model.ElementAt(1).RepairCost s.l.</td>
            <td style="width: 15%">@Model.ElementAt(2).RepairCost s.l.</td>
            <td style="width: 15%">@Model.ElementAt(3).RepairCost s.l.</td>
        </tr>
        <tr>
            <td style="width: 20%">Max speed</td>
            <td style="width: 15%">@Model.ElementAt(0).MaxSpeedAt0 km/h</td>
            <td style="width: 15%">@Model.ElementAt(1).MaxSpeedAt0 km/h</td>
            <td style="width: 15%">@Model.ElementAt(2).MaxSpeedAt0 km/h</td>
            <td style="width: 15%">@Model.ElementAt(3).MaxSpeedAt0 km/h</td>
        </tr>
        <tr>
            <td style="width: 20%">Max speed at 5000 m</td>
            <td style="width: 15%">@Model.ElementAt(0).MaxSpeedAt5000 km/h</td>
            <td style="width: 15%">@Model.ElementAt(1).MaxSpeedAt5000 km/h</td>
            <td style="width: 15%">@Model.ElementAt(2).MaxSpeedAt5000 km/h</td>
            <td style="width: 15%">@Model.ElementAt(3).MaxSpeedAt5000 km/h</td>
        </tr>
        <tr>
            <td style="width: 20%">Climb rate</td>
            <td style="width: 15%">@Model.ElementAt(0).Climb m/s</td>
            <td style="width: 15%">@Model.ElementAt(1).Climb m/s</td>
            <td style="width: 15%">@Model.ElementAt(2).Climb m/s</td>
            <td style="width: 15%">@Model.ElementAt(3).Climb m/s</td>
        </tr>
        <tr>
            <td style="width: 20%">Turn time</td>
            <td style="width: 15%">@Model.ElementAt(0).TurnAt0 s</td>
            <td style="width: 15%">@Model.ElementAt(1).TurnAt0 s</td>
            <td style="width: 15%">@Model.ElementAt(2).TurnAt0 s</td>
            <td style="width: 15%">@Model.ElementAt(3).TurnAt0 s</td>
        </tr>
        <tr>
            <td style="width: 20%">Engine power</td>
            <td style="width: 15%">@Model.ElementAt(0).EnginePower</td>
            <td style="width: 15%">@Model.ElementAt(1).EnginePower</td>
            <td style="width: 15%">@Model.ElementAt(2).EnginePower</td>
            <td style="width: 15%">@Model.ElementAt(3).EnginePower</td>
        </tr>
        <tr>
            <td style="width: 20%">Take-off weight</td>
            <td style="width: 15%">@Model.ElementAt(0).Weight kg</td>
            <td style="width: 15%">@Model.ElementAt(1).Weight kg</td>
            <td style="width: 15%">@Model.ElementAt(2).Weight kg</td>
            <td style="width: 15%">@Model.ElementAt(3).Weight kg</td>
        </tr>
        <tr>
            <td style="width: 20%">Speed of destruction</td>
            <td style="width: 15%">@Model.ElementAt(0).Flutter km/h</td>
            <td style="width: 15%">@Model.ElementAt(1).Flutter km/h</td>
            <td style="width: 15%">@Model.ElementAt(2).Flutter km/h</td>
            <td style="width: 15%">@Model.ElementAt(3).Flutter km/h</td>
        </tr>
        <tr>
            <td style="width: 20%">Attack systems</td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(0).ASMissile)
                    {
                        <img src="~/images/ASMissile.png" alt="" title="Air to surface missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).AAMissile)
                    {
                        <img src="~/images/AAMissile.png" alt="" title="Air to air missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).AGMissile)
                    {
                        <img src="~/images/AGMissile.png" alt="" title="Air-to-ground command guided missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).HBomb)
                    {
                        <img src="~/images/HBomb.png" alt="" title="Just a bomb" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).HCannon)
                    {
                        <img src="~/images/HCannon.png" alt="" title="Gun pod" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).HTorpedo)
                    {
                        <img src="~/images/HTorpedo.png" alt="" title="Just a torpedo" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).WrongMusic)
                    {
                        <img src="~/images/WrongMusic.png" alt="" title="Schräge Musik" class="img-fluid" width="40">
                    }
                }
            </td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(1).ASMissile)
                    {
                        <img src="~/images/ASMissile.png" alt="" title="Air to surface missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).AAMissile)
                    {
                        <img src="~/images/AAMissile.png" alt="" title="Air to air missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).AGMissile)
                    {
                        <img src="~/images/AGMissile.png" alt="" title="Air-to-ground command guided missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).HBomb)
                    {
                        <img src="~/images/HBomb.png" alt="" title="Just a bomb" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).HCannon)
                    {
                        <img src="~/images/HCannon.png" alt="" title="Gun pod" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).HTorpedo)
                    {
                        <img src="~/images/HTorpedo.png" alt="" title="Just a torpedo" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).WrongMusic)
                    {
                        <img src="~/images/WrongMusic.png" alt="" title="Schräge Musik" class="img-fluid" width="40">
                    }
                }
            </td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(2).ASMissile)
                    {
                        <img src="~/images/ASMissile.png" alt="" title="Air to surface missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).AAMissile)
                    {
                        <img src="~/images/AAMissile.png" alt="" title="Air to air missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).AGMissile)
                    {
                        <img src="~/images/AGMissile.png" alt="" title="Air-to-ground command guided missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).HBomb)
                    {
                        <img src="~/images/HBomb.png" alt="" title="Just a bomb" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).HCannon)
                    {
                        <img src="~/images/HCannon.png" alt="" title="Gun pod" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).HTorpedo)
                    {
                        <img src="~/images/HTorpedo.png" alt="" title="Just a torpedo" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).WrongMusic)
                    {
                        <img src="~/images/WrongMusic.png" alt="" title="Schräge Musik" class="img-fluid" width="40">
                    }
                }
            </td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(3).ASMissile)
                    {
                        <img src="~/images/ASMissile.png" alt="" title="Air to surface missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).AAMissile)
                    {
                        <img src="~/images/AAMissile.png" alt="" title="Air to air missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).AGMissile)
                    {
                        <img src="~/images/AGMissile.png" alt="" title="Air-to-ground command guided missile" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).HBomb)
                    {
                        <img src="~/images/HBomb.png" alt="" title="Just a bomb" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).HCannon)
                    {
                        <img src="~/images/HCannon.png" alt="" title="Gun pod" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).HTorpedo)
                    {
                        <img src="~/images/HTorpedo.png" alt="" title="Just a torpedo" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).WrongMusic)
                    {
                        <img src="~/images/WrongMusic.png" alt="" title="Schräge Musik" class="img-fluid" width="40">
                    }
                }
            </td>
        </tr>
        <tr>
            <td style="width: 20%">Payload</td>
            <td style="width: 15%">@Model.ElementAt(0).BombLoad kg</td>
            <td style="width: 15%">@Model.ElementAt(1).BombLoad kg</td>
            <td style="width: 15%">@Model.ElementAt(2).BombLoad kg</td>
            <td style="width: 15%">@Model.ElementAt(3).BombLoad kg</td>
        </tr>
        <tr>
            <td style="width: 20%">Burst mass</td>
            <td style="width: 15%">@Model.ElementAt(0).BurstMass kg/s</td>
            <td style="width: 15%">@Model.ElementAt(1).BurstMass kg/s</td>
            <td style="width: 15%">@Model.ElementAt(2).BurstMass kg/s</td>
            <td style="width: 15%">@Model.ElementAt(3).BurstMass kg/s</td>
        </tr>
        <tr>
            <td style="width: 20%">Course weapon</td>
            <td style="width: 15%">@Html.Raw(Model.ElementAt(0).CourseWeapon)</td>
            <td style="width: 15%">@Html.Raw(Model.ElementAt(1).CourseWeapon)</td>
            <td style="width: 15%">@Html.Raw(Model.ElementAt(2).CourseWeapon)</td>
            <td style="width: 15%">@Html.Raw(Model.ElementAt(3).CourseWeapon)</td>
        </tr>
        <tr>
            <td style="width: 20%">Safety systems</td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(0).RWR)
                    {
                        <img src="~/images/RWR.png" alt="" title="Radar warning receiver" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).Turrel)
                    {
                        <img src="~/images/Turrel.png" alt="" title="Gun turret" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).Flares)
                    {
                        <img src="~/images/Flares.png" alt="" title="Just a flares" class="img-fluid" width="40">
                    }
                }
            </td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(1).RWR)
                    {
                        <img src="~/images/RWR.png" alt="" title="Radar warning receiver" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).Turrel)
                    {
                        <img src="~/images/Turrel.png" alt="" title="Gun turret" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).Flares)
                    {
                        <img src="~/images/Flares.png" alt="" title="Just a flares" class="img-fluid" width="40">
                    }
                }
            </td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(2).RWR)
                    {
                        <img src="~/images/RWR.png" alt="" title="Radar warning receiver" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).Turrel)
                    {
                        <img src="~/images/Turrel.png" alt="" title="Gun turret" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).Flares)
                    {
                        <img src="~/images/Flares.png" alt="" title="Just a flares" class="img-fluid" width="40">
                    }
                }
            </td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(3).RWR)
                    {
                        <img src="~/images/RWR.png" alt="" title="Radar warning receiver" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).Turrel)
                    {
                        <img src="~/images/Turrel.png" alt="" title="Gun turret" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).Flares)
                    {
                        <img src="~/images/Flares.png" alt="" title="Just a flares" class="img-fluid" width="40">
                    }
                }
            </td>
        </tr>
        <tr>
            <td style="width: 20%">Other systems</td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(0).Parachute)
                    {
                        <img src="~/images/Parachute.png" alt="" title="Brake parachute" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).AirBrake)
                    {
                        <img src="~/images/AirBrake.png" alt="" title="Air brake" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).AirRadar)
                    {
                        <img src="~/images/AirRadar.png" alt="" title="Plane radar" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).Tailhook)
                    {
                        <img src="~/images/TailHook.png" alt="" title="Tailhook" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).GroundRadar)
                    {
                        <img src="~/images/GroundRadar.png" alt="" title="Ground vehicle radar" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(0).CCIP)
                    {
                        <img src="~/images/CCIP.png" alt="" title="Constantly computed impact point" class="img-fluid" width="40">
                    }
                    @*if (Model.ElementAt(0).AntiLoadingSuit)
                        {
                            <img src="~/images/AntiLoadingSuit.png" alt="" title="Anti Loading Suit" class="img-fluid" width="40">
                        }*@
                }
            </td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(1).Parachute)
                    {
                        <img src="~/images/Parachute.png" alt="" title="Brake parachute" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).RWR)
                    {
                        <img src="~/images/RWR.png" alt="" title="Radar warning receiver" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).AirBrake)
                    {
                        <img src="~/images/AirBrake.png" alt="" title="Air brake" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).AirRadar)
                    {
                        <img src="~/images/AirRadar.png" alt="" title="Plane radar" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).Turrel)
                    {
                        <img src="~/images/Turrel.png" alt="" title="Gun turret" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).Tailhook)
                    {
                        <img src="~/images/TailHook.png" alt="" title="Tailhook" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).GroundRadar)
                    {
                        <img src="~/images/GroundRadar.png" alt="" title="Ground vehicle radar" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(1).CCIP)
                    {
                        <img src="~/images/CCIP.png" alt="" title="Constantly computed impact point" class="img-fluid" width="40">
                    }
                    @*if (Model.ElementAt(1).AntiLoadingSuit)
                        {
                            <img src="~/images/AntiLoadingSuit.png" alt="" title="Anti Loading Suit" class="img-fluid" width="40">
                        }*@
                    if (Model.ElementAt(1).Flares)
                    {
                        <img src="~/images/Flares.png" alt="" title="Just a flares" class="img-fluid" width="40">
                    }
                }
            </td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(2).Parachute)
                    {
                        <img src="~/images/Parachute.png" alt="" title="Brake parachute" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).RWR)
                    {
                        <img src="~/images/RWR.png" alt="" title="Radar warning receiver" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).AirBrake)
                    {
                        <img src="~/images/AirBrake.png" alt="" title="Air brake" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).AirRadar)
                    {
                        <img src="~/images/AirRadar.png" alt="" title="Plane radar" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).Turrel)
                    {
                        <img src="~/images/Turrel.png" alt="" title="Gun turret" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).Tailhook)
                    {
                        <img src="~/images/TailHook.png" alt="" title="Tailhook" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).GroundRadar)
                    {
                        <img src="~/images/GroundRadar.png" alt="" title="Ground vehicle radar" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(2).CCIP)
                    {
                        <img src="~/images/CCIP.png" alt="" title="Constantly computed impact point" class="img-fluid" width="40">
                    }
                    @*if (Model.ElementAt(2).AntiLoadingSuit)
                        {
                            <img src="~/images/AntiLoadingSuit.png" alt="" title="Anti Loading Suit" class="img-fluid" width="40">
                        }*@
                    if (Model.ElementAt(2).Flares)
                    {
                        <img src="~/images/Flares.png" alt="" title="Just a flares" class="img-fluid" width="40">
                    }
                }
            </td>
            <td style="width: 15%">
                @{
                    if (Model.ElementAt(3).Parachute)
                    {
                        <img src="~/images/Parachute.png" alt="" title="Brake parachute" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).RWR)
                    {
                        <img src="~/images/RWR.png" alt="" title="Radar warning receiver" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).AirBrake)
                    {
                        <img src="~/images/AirBrake.png" alt="" title="Air brake" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).AirRadar)
                    {
                        <img src="~/images/AirRadar.png" alt="" title="Plane radar" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).Turrel)
                    {
                        <img src="~/images/Turrel.png" alt="" title="Gun turret" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).Tailhook)
                    {
                        <img src="~/images/TailHook.png" alt="" title="Tailhook" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).GroundRadar)
                    {
                        <img src="~/images/GroundRadar.png" alt="" title="Ground vehicle radar" class="img-fluid" width="40">
                    }
                    if (Model.ElementAt(3).CCIP)
                    {
                        <img src="~/images/CCIP.png" alt="" title="Constantly computed impact point" class="img-fluid" width="40">
                    }
                    @*if (Model.ElementAt(3).AntiLoadingSuit)
                        {
                            <img src="~/images/AntiLoadingSuit.png" alt="" title="Anti Loading Suit" class="img-fluid" width="40">
                        }*@
                    if (Model.ElementAt(3).Flares)
                    {
                        <img src="~/images/Flares.png" alt="" title="Just a flares" class="img-fluid" width="40">
                    }
                }
            </td>
        </tr>
    </table>
</div>