@model IEnumerable<WTVersus.Models.Ship>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VehicleId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nation)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rank)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Type)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Class)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstLaunchYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RepairCost)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ViewCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WikiLink)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WikiDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MaxSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReverseSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Acceleration)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.BrakingTime)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Turn360)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Displacement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CrewCount)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmorTower)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ArmorHull)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCaliberSize)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCaliberReload)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MainCaliberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AUCaliberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AACaliberName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TorpedoItem)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TorpedoMaxSpeed)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TorpedoTNT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHaveDepthCharge)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHaveTorpedo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHaveRocket)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHaveMine)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHaveAirRadar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsHaveShipRadar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MC_SAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MC_AP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MC_APHE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MC_APCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MC_HE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MC_HEVT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MC_HEDF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MC_FOG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MC_Shrapnel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AU_SAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AU_AP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AU_APHE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AU_APCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AU_HE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AU_HEVT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AU_HEDF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AU_FOG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AU_Shrapnel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AAA_SAP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AAA_AP)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AAA_APHE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AAA_APCR)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AAA_HE)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AAA_HEVT)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AAA_HEDF)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AAA_FOG)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AAA_Shrapnel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VehicleId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Image)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nation)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rank)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Class)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FirstLaunchYear)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RepairCost)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ViewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WikiLink)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.WikiDescription)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MaxSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ReverseSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Acceleration)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.BrakingTime)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Turn360)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Displacement)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CrewCount)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorTower)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ArmorHull)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCaliberSize)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCaliberReload)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MainCaliberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AUCaliberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AACaliberName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TorpedoItem)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TorpedoMaxSpeed)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TorpedoTNT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHaveDepthCharge)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHaveTorpedo)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHaveRocket)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHaveMine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHaveAirRadar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IsHaveShipRadar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC_SAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC_AP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC_APHE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC_APCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC_HE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC_HEVT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC_HEDF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC_FOG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MC_Shrapnel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AU_SAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AU_AP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AU_APHE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AU_APCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AU_HE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AU_HEVT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AU_HEDF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AU_FOG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AU_Shrapnel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAA_SAP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAA_AP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAA_APHE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAA_APCR)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAA_HE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAA_HEVT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAA_HEDF)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAA_FOG)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AAA_Shrapnel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
